body{
  background: linear-gradient(to right, #232526, #414345);
}
.card-container{
  position: absolute;
  left: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  background-color:aliceblue;
  border: 2px solid black;
}
.card{
  width: 400px;
  
  margin: 10px;
  padding: 10px;
  position: relative;
}
.card:hover{
  opacity: 0.8;
}
.card-header{
  text-align: center;
  background-color: blue;
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  width: 400px;
  opacity: 0.8;
}
h1{
  text-align: center;
  color: red;

}